<div class="math-home">
    <!-- =============== math Card ================= -->
    <div class="math-card-container d-inline-flex justify-content-center">
        <div class="math-card" *ngFor="let opn of math.operation">
            <div class="operation pointer" data-toggle="modal" data-target="#modal" (click)="modalOn(opn.name)">
                {{opn.symbol}}
            </div>
        </div>
    </div>
    <!-- <div class="math-card-container d-inline-flex justify-content-center">
        <div class="math-card" *ngFor="let card of operation | slice: 2:4">
            <div class="operation pointer" data-toggle="modal" data-target="#modal" (click)="modalOn(card.operation)">
                {{card.operation}} </div>
        </div>
    </div>
    <div class="math-card-container d-inline-flex justify-content-center">
        <div class="math-card" *ngFor="let card of operation | slice: 4:5">
            <div class="operation pointer" data-toggle="modal" data-target="#modal" (click)="modalOn(card.operation)">
                {{card.operation}} </div>
        </div>
    </div> -->
    <!-- =========================================== -->
</div>