<div class="math-home">
    <!-- =============== math Card ================= -->
    <div class="math-card-container">
        <div class="math-card" *ngFor="let card of math | slice: 0:2">
            <div class="operation">{{card.operation}} </div>
        </div>
    </div>
    <div class="math-card-container">
        <div class="math-card" *ngFor="let card of math | slice: 2:4">
            <div class="operation">{{card.operation}} </div>
        </div>
    </div>
    <div class="math-card-container">
        <div class="math-card" *ngFor="let card of math | slice: 4:5">
            <div class="operation">{{card.operation}} </div>
        </div>
    </div>
    <!-- =========================================== -->
</div>