.math-home {
    margin: 0;
    padding: 30px;
    width: 100%;
    // height: 80vh;
}

.math-card-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-around;
    // justify-content: space-between;
    // justify-content: flex-start;

    .math-card {
        margin: 25px;
        height: 270px;
        width: 345px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
        background-color: rgb(255, 255, 255, 0.9);
    }
    .operation {
        width: 100%;
        height: 270px;
        line-height: 270px;
        font-family: "Frijole", cursive;
        font-size: 100px;
        text-align: center;
    }
}
