<div class="math-home">
    <!-- =============== math Card ================= -->
    <div class="math-card-container">
        <div class="math-card" *ngFor="let card of math | slice: 0:2">
            <div class="operation" type="button" data-toggle="modal" data-target="#modal" (click)="modalOn()">
                {{card.operation}}
            </div>
        </div>
    </div>
    <div class="math-card-container">
        <div class="math-card" *ngFor="let card of math | slice: 2:4">
            <div class="operation" type="button" data-toggle="modal" data-target="#modal" (click)="modalOn()">
                {{card.operation}} </div>
        </div>
    </div>
    <div class="math-card-container">
        <div class="math-card" *ngFor="let card of math | slice: 4:5">
            <div class="operation" type="button" data-toggle="modal" data-target="#modal" (click)="modalOn()">
                {{card.operation}} </div>
        </div>
    </div>
    <!-- =========================================== -->
</div>

<!-- 
<a type="button" class="card units" [routerLink]="['/math-plus-units']">
    <div class="text">0~9</div>
</a>
<a type="button" class="card tens" [routerLink]="['/math-plus-tens']">
    <div class="text">10~99</div>
</a>
<a type="button" class="card review" [routerLink]="['/math-plus-review']">
    <div class="text">Review</div>
</a> -->