<div class="math-tens" (click)="closeSelect()">
    <main class="main">
        <aside>
            <div class="rewards">
                <span *ngFor="let rainbow of rainbowArr">
                    <span class="material-icons reward-rainbow f-rainbow">
                        looks </span>
                </span>
                <span *ngFor="let star of starArr; index as key">
                    <span *ngIf="star%7===1" class="material-icons reward-star f-red"> star </span>
                    <span *ngIf="star%7===2" class="material-icons reward-star f-orange"> star </span>
                    <span *ngIf="star%7===3" class="material-icons reward-star f-yellow"> star </span>
                    <span *ngIf="star%7===4" class="material-icons reward-star f-green"> star </span>
                    <span *ngIf="star%7===5" class="material-icons reward-star f-blue"> star </span>
                    <span *ngIf="star%7===6" class="material-icons reward-star f-indigo"> star </span>
                </span>
            </div>
        </aside>

        <section>
            <article>
                <table class="qsTable">
                    <tr>
                        <td class="unit">{{math.tenRandom}}</td>
                        <td class="unit">+</td>
                        <td class="unit">{{math.unitRandom}}</td>
                        <td class="unit">=</td>
                        <td class="unit">?</td>
                    </tr>
                </table>
            </article>

            <form action="" stopPropagation>
                <table class="calTable">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <div class="pointer space" (click)="selectSpace(math.space[1].id)"
                                    [ngClass]="{'bg-color': math.selSpace==='a-ten' }">
                                    {{math.space[1].fill}}</div>
                            </td>
                            <td>
                                <div class="pointer space" (click)="selectSpace(math.space[2].id)"
                                    [ngClass]="{'bg-color': math.selSpace==='a-unit' }">
                                    {{math.space[2].fill}}</div>
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td class="operation">+</td>
                            <td>
                                <div class="pointer space" (click)="selectSpace(math.space[4].id)"
                                    [ngClass]="{'bg-color': math.selSpace==='b-ten' }">
                                    {{math.space[4].fill}}</div>
                            </td>
                            <td>
                                <div class="pointer space" (click)="selectSpace(math.space[5].id)"
                                    [ngClass]="{'bg-color': math.selSpace==='b-unit' }">
                                    {{math.space[5].fill}} </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr>
                            </td>
                            <td>
                                <hr>
                            </td>
                            <td>
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="pointer space" (click)="selectSpace(math.space[6].id)"
                                    [ngClass]="{'bg-color': math.selSpace==='c-hundred'}">
                                    {{math.space[6].fill}} </div>
                            </td>
                            <td>
                                <div class="pointer space" (click)="selectSpace(math.space[7].id)"
                                    [ngClass]="{'bg-color': math.selSpace==='c-ten'}">
                                    {{math.space[7].fill}} </div>
                            </td>
                            <td>
                                <div class="pointer space" (click)="selectSpace(math.space[8].id)"
                                    [ngClass]="{'bg-color': math.selSpace==='c-unit'}">
                                    {{math.space[8].fill}} </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </section>
    </main>

    <div stopPropagation>
        <div [ngStyle]="{'right': math.selShow ? '0':'-1000px'}" class="select">
            <div class="option">
                <div *ngFor="let unit of math.units" class="unit pointer" (click)="selectUnit(unit)">{{unit}}</div>
                <div class="del-unit pointer" (click)="deleteUnit()">Del</div>
            </div>
            <!-- <div class="option">
            <div class="d-flex flex-row justify-content-around">
                <div class="unit pointer d-inline-flex justify-content-around"
                    *ngFor=" let num of numbers | slice: 5:10" (click)="selectUnit(num)">{{num}}</div>
            </div>
        </div> -->
        </div>
    </div>

    <!-- reload btn -->
    <div class="reload-btn" (click)="reload()">
        <i class="material-icons reloadIcon pointer">autorenew</i>
    </div>

    <!-- success gif -->
    <div *ngIf="math.ansCorrect">
        <img class="success-gif" src="../../../../assets/images/gif/olaf.gif" alt="">
    </div>
    <div *ngIf="math.answered && !math.ansCorrect">
        <img class="success-gif" src="../../../../assets/images/gif/olaf3.gif" alt="">
    </div>
</div>