.math-tens {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: start;

    .main {
        display: flex;
        flex-direction: column;
    }
}

.qsTable,
.calTable {
    width: 308px;
    text-align: center;
    margin: auto;
    // margin: 0;
    margin-bottom: 30px;
}
.calTable {
    margin-bottom: 0;
}

.rewards {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: left;
    // margin: auto;
    margin: 0;
    margin-bottom: 10px;
}
.reward-star {
    height: 25px;
    line-height: 25px;
    font-size: 24px;
}
.reward-rainbow {
    height: 25px;
    line-height: 25px;
    font-size: 48px;
}

.space {
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 65px;
    font-family: "Frijole", cursive;
    text-align: center;
}

.space-border {
    border: 5px solid rgb(230, 230, 230);
    border-radius: 3px;
}

.space-focus {
    border-color: rgb(163, 40, 40, 0.8);
    background-color: rgb(250, 250, 250);
}

.txt-color {
    color: rgb(11, 102, 11, 0.8);
}

.operation {
    font-size: 70px;
    font-family: "Frijole", cursive;
    text-align: center;
}

hr {
    display: inline-block;
    width: 100%;
    border: 2px solid rgb(199, 199, 199);
}

.select {
    position: fixed;
    top: 155px;
    width: 160px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    // border: 5px solid rgb(149, 149, 149);
    background-color: rgb(240, 240, 240);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    z-index: 1001;
}

.option {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.unit,
.del-unit {
    width: 65px;
    height: 65px;
    line-height: 65px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 5px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 48px;
    font-family: "Frijole", cursive;
    text-align: center;
}
.del-unit {
    width: 135px;
    color: brown;
}

.reload-btn,
.showModalBtn {
    position: fixed;
    right: 60px;
    top: 55px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: cadetblue;
    text-align: center;
    z-index: 1000;

    .reloadIcon,
    .showModalIcon {
        color: rgb(243, 243, 243);
        font-size: 30px;
        line-height: 40px;
    }
}
.showModalBtn {
    right: 10px;
    background-color: rgb(214, 154, 23);
    // z-index: 1000;
}

.success-gif {
    display: inline-block;
    position: fixed;
    // width: 90%;
    top: 150px;
    margin: auto;
    z-index: 1100;
}

@media only screen and (max-width: 991px) {
    .math-tens {
        padding: 5px;
    }
    .select {
        top: 188px;
    }
    .reload-btn,
    .showModalBtn {
        top: 105px;
    }
}

@media only screen and (max-width: 600px) {
    .math-tens {
        padding: 0;
    }
    .qsTable,
    .calTable {
        width: 232px;
        margin: 0;
        margin-bottom: 20px;
    }
    .space {
        width: 75px;
        height: 75px;
        line-height: 75px;
        font-size: 55px;
    }
    .select {
        width: 120px;
        height: auto;
        padding: 5px 2px;
    }
    .unit,
    .del-unit {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 40px;
    }
    .del-unit {
        width: 105px;
    }
    .success-gif {
        left: 0;
    }
}
