<div class="modal fade" id="modal" data-backdrop="true" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="modalTitle">
                    <!-- {{modalMessage.title | titlecase}} -->
                    <!-- {{modalMessage.msgA}} -->
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="math card-container" *ngIf="showMathOption">
                    <div type="button" class="card units" (click)="goPlusUnits()">
                        <div class="text">0~9</div>
                    </div>
                    <div type="button" class="card tens" (click)="goPlusTens()">
                        <div class="text">10~99</div>
                    </div>
                    <div type="button" class="card quiz" (click)="goPlusQuiz()">
                        <div class="text">Quiz</div>
                    </div>
                </div>
            </div>

            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true"
                    (click)="modalCancel()">
                    {{modalMessage.btnCancel}}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalSubmit()">
                    {{modalMessage.btnConfirm}}
                </button>
            </div> -->
        </div>
    </div>
</div>