<div class="modal fade" id="modal" data-backdrop="true" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="modalTitle">
                    <i class="material-icons">{{modal.icon}}</i>
                    {{modal.title}}
                    {{modal.msgA}}
                </div>
                <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="close"
                    (click)="modalOff()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="math card-container" *ngIf="modal.showMathModal">
                    <div *ngFor="let mathSec of math.section" class="card pointer"
                        (click)="goMathPath(mathSec.name)">
                        <div class="text">{{mathSec.text}}</div>
                    </div>
                </div>
            </div>

            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true"
                    (click)="modalCancel()">
                    {{modal.btnCancel}}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalSubmit()">
                    {{modal.btnConfirm}}
                </button>
            </div> -->
        </div>
    </div>
</div>