<div class="modal fade" id="modal" data-backdrop="true" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="modalTitle" *ngIf="profile && profile.username">
                    <i class="material-icons">{{modal.icon}}</i>
                    {{modal.title}} {{profile.username | titlecase}} ~
                    {{modal.msgA}}
                </div>
                <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="close"
                    (click)="modalOff()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- math modal -->
                <div class="math card-container" *ngIf="modal.showModal.showMathModal">
                    <div *ngFor="let mathSec of math.section" class="card pointer" (click)="goMathPath(mathSec.name)">
                        <div class="text">
                            <!-- <span *ngIf="!mathSec.text" class="material-icons flower"> local_florist </span> -->
                            <span *ngIf="!mathSec.text" class="material-icons i-book"> category </span>
                            <span *ngIf="mathSec.text">{{mathSec.text}}</span>
                        </div>
                    </div>
                </div>
                <!-- math basic plus sheet modal -->
                <div class="math card-container" *ngIf="modal.showModal.showMathBasicPlusModal">
                    <div class="d-flex-column">
                        <div *ngFor="let plus of math.basicPlusSheet | slice: 0:9" class="card-sm pointer">
                            <span class="text-sm"> {{plus}} </span>
                        </div>
                    </div>
                    <div class="d-flex-column">
                        <div *ngFor="let plus of math.basicPlusSheet | slice: 9:16" class="card-sm pointer">
                            <span class="text-sm"> {{plus}} </span>
                        </div>
                    </div>
                    <div class="d-flex-column">
                        <div *ngFor="let plus of math.basicPlusSheet | slice: 16:21" class="card-sm pointer">
                            <span class="text-sm"> {{plus}} </span>
                        </div>
                    </div>
                    <div class="d-flex-column">
                        <div *ngFor="let plus of math.basicPlusSheet | slice: 21:24" class="card-sm pointer">
                            <span class="text-sm"> {{plus}} </span>
                        </div>
                    </div>
                    <div class="d-flex-column">
                        <div *ngFor="let plus of math.basicPlusSheet | slice: 24:25" class="card-sm pointer">
                            <span class="text-sm"> {{plus}} </span>
                        </div>
                    </div>
                </div>
                <!-- math plus sheet modal -->
                <div class="math card-container" *ngIf="modal.showModal.showMathPlusModal">
                    <div class="d-flex-column">
                        <div *ngFor="let plus of math.plusSheet | slice: 0:8" class="card-sm pointer">
                            <span class="text-sm"> {{plus}} </span>
                        </div>
                    </div>
                    <div class="d-flex-column">
                        <div *ngFor="let plus of math.plusSheet | slice: 8:14" class="card-sm pointer">
                            <span class="text-sm"> {{plus}} </span>
                        </div>
                    </div>
                    <div class="d-flex-column">
                        <div *ngFor="let plus of math.plusSheet | slice: 14:18" class="card-sm pointer">
                            <span class="text-sm"> {{plus}} </span>
                        </div>
                    </div>
                    <div class="d-flex-column">
                        <div *ngFor="let plus of math.plusSheet | slice: 18:21" class="card-sm pointer">
                            <span class="text-sm"> {{plus}} </span>
                        </div>
                    </div>
                </div>
                <!-- math plus sheet modal -->
                <div class="math card-container" *ngIf="modal.showModal.showMathTimesModal">

                </div>
            </div>

            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true"
                    (click)="modalCancel()">
                    {{modal.btnCancel}}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="modalSubmit()">
                    {{modal.btnConfirm}}
                </button>
            </div> -->
        </div>
    </div>
</div>