<nav>
    <!-- logo (left)-->
    <div class="nav app-logo pl-3 d-inline-flex">
        <!-- <img [src]="header.logo"> -->
        <i class="material-icons">{{app.header.headIcon}}</i>
        <span class="nav-text pl-1">{{app.header.headText}}</span>
    </div>
    <!-- title (center)-->
    <!-- <div class="nav flex3 app-title">{{app.header.headText}}</div> -->

    <!-- user (right)-->
    <ul class="nav app-user">
        <div class="d-flex flex-row justify-content-start dropdown-icons">
            <!-- toggle sidebar (tablet view only)  -->
            <li class="nav-item dropdown-icon-hide">
                <a class="nav-link s-icon" data-toggle="collapse" (click)="toggleSidebarInPhoneApp()">
                    <i class="material-icons pointer sicon" *ngIf="app.sidebar.show">close</i>
                    <i class="material-icons pointer sicon" *ngIf="!app.sidebar.show">reorder</i>
                    <!-- <i class="fa fa-lg" [ngClass]="sidebarInTablet ? 'fa-times' : 'fa-bars'" aria-hidden="true"> </i> -->
                </a>
            </li>

            <!-- settings  -->
            <!-- <li *ngIf="showSettings" class="nav-item dropdown-icon">
                <a class="nav-link" href="javascript:void(0)">
                    <span class="sr-only">Administration</span>
                </a>
                <div class="dropdown-menu">
                    <span class="font600 mb-0 text-title">Administration</span>
                    <a [href]="app.header.route.profile" class="dropdown-item">
                        User Management
                    </a>
                    <a [href]="app.header.route.activity" class="dropdown-item">
                        Company Settings
                    </a>
                </div>
            </li> -->
        </div>
        <!-- profile -->
        <li class="nav-item dropdown" *ngIf="account.login">
            <a class="nav-link dropdown-user" id="dropdown-user" role="button" data-toggle="dropdown"
                href="javascript:void(0)">
                <img class="profile-photo" [src]="profile.userImage">
                <span class="dropdown-toggle">Hi, {{profile.username}}</span>
            </a>
            <div class="dropdown-menu">
                <a [routerLink]="app.header.route.profile" class="dropdown-item">
                    <!-- <i class="material-icons">face</i> -->
                    My Profile
                </a>
                <!-- <a [routerLink]="app.header.route.settings" class="dropdown-item">
                    Settings
                </a> -->
                <a [routerLink]="app.header.route.logout" class="dropdown-item" (click)="logout()">
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>