<nav>
    <!-- logo -->
    <div class="nav flex3 app-logo pl-3">
        <img [src]="header.logo">
    </div>
    <!-- title -->
    <div class="nav flex3 app-title">
        <span>{{header.title}}</span>
    </div>
    <!-- user -->
    <ul class="nav flex3 app-user">
        <div class="d-flex flex-row dropdown-icons">
            <!-- toggle sidebar (tablet view only)  -->
            <li class="nav-item dropdown-icon-hide">
                <a class="nav-link" data-toggle="collapse" (click)="toggleSidebar()">
                    <!-- <i class="fa fa-lg" [ngClass]="sidebarInTablet ? 'fa-times' : 'fa-bars'" aria-hidden="true"> </i> -->
                </a>
            </li>

            <!-- settings  -->
            <!-- <li *ngIf="showSettings" class="nav-item dropdown-icon">
                <a class="nav-link" href="javascript:void(0)">
                    <span class="sr-only">Administration</span>
                    <i class="fa fa-cog fa-lg" aria-hidden="true"> </i>
                </a>
                <div class="dropdown-menu">
                    <span class="font600 mb-0 text-title">Administration</span>
                    <a [href]="header.route.userManagement" class="dropdown-item">
                        <i class="fa fa-user fa-sm" aria-hidden="true"> </i> 
                        User Management
                    </a>
                    <a [href]="header.route.companySettings" class="dropdown-item">
                        <i class="fa fa-user fa-sm" aria-hidden="true"> </i> 
                        Company Settings
                    </a>
                </div>
            </li> -->
        </div>
        <!-- profile -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-user" id="dropdown-user" role="button" data-toggle="dropdown"
                href="javascript:void(0)">
                <img [src]="header.user.img">
                <span class="dropdown-toggle">Hi, {{header.user.name}}</span>
            </a>
            <div class="dropdown-menu">
                <a [href]="header.route.profile" class="dropdown-item">
                    <!-- <fa-icon [icon]="fa.user"></fa-icon> -->
                    My Profile
                </a>
                <a [href]="header.route.settings" class="dropdown-item">
                    <!-- <fa-icon [icon]="fa.cog"></fa-icon> -->
                    Settings
                </a>
                <a [href]="header.route.activity" class="dropdown-item">
                    <!-- <i class="fal fa-list-alt"></i> -->
                    Activity</a>
                <a [href]="header.route.logout" class="dropdown-item">
                    <!-- <i class="fal fa-unlock"></i> -->
                    Logout</a>
            </div>
        </li>
    </ul>
</nav>