<div class="math-units">
    <main class="main">
        <section>
            <div class="question-table d-inline-flex" [ngStyle]="{'border':showAnswer? '4px dashed lightgray':'none'}">
                <div class="itemOne"
                    [ngStyle]="{'color': iconColorOne,'border':showAnswer? 'none':'4px dashed lightgray'}">
                    <span class="material-icons icon-lg" *ngFor="let any of iconRandomArr">
                        {{iconRandom}}
                    </span>
                </div>
                <div class="itemPlus" *ngIf="!showAnswer">+</div>
                <div class="itemTwo"
                    [ngStyle]="{'color': iconColorTwo,'border':showAnswer? 'none':'4px dashed lightgray'}">
                    <span class="material-icons icon-lg" *ngFor="let any of iconRandomArrTwo">
                        {{iconRandom}}
                    </span>
                </div>
            </div>
            <div class="answer-table">
                <div class="d-inline-flex" *ngIf="showAnswer">
                    <div class="text-sub">{{math.unitRandom}}</div>
                    <div class="text-sub">+</div>
                    <div class="text-sub">{{math.unitRandomTwo}}</div>
                </div>
            </div>
            <div class="itemSum" *ngIf="!showAnswer">?</div>
            <div class="itemSum" *ngIf="showAnswer">{{math.unitRandom+math.unitRandomTwo}}</div>
        </section>

        <div class="click-btn pointer" [ngClass]="{'click-btn-next': showAnswer}" (click)="showTime()">
            <i class="material-icons click-icon">
                <span *ngIf="!showAnswer">touch_app</span>
                <span *ngIf="showAnswer">fast_forward</span>
            </i>
        </div>
    </main>

    <!-- reload btn -->
    <div class="reload-btn" (click)="reload()">
        <i class="material-icons reloadIcon pointer">autorenew</i>
    </div>

    <!-- success gif -->
    <div *ngIf="math.ansCorrect">
        <img class="success-gif" src="../../../../assets/images/gif/olaf2.gif" alt="">
    </div>
    <div *ngIf="math.space[8].fill && !math.ansCorrect">
        <img class="success-gif" src="../../../../assets/images/gif/olaf3.gif" alt="">
    </div>

    <!-- plus sheet modal btn -->
    <div class="showModalBtn pointer" data-toggle="modal" data-target="#modal" (click)="modalOn()">
        <i class="material-icons showModalIcon">assignment</i>
    </div>
</div>