.math-units {
    .main {
        display: flex;
        flex-direction: column;
        // margin: auto;
        // min-height: 80vh;
        text-align: center;
    }
}
.question-table {
    height: 254px;
    margin: 10px auto;
}
.answer-table {
    height: 30px;
    margin: 10px auto;
}

.item-one,
.item-two {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;
    width: 40vw;
    height: 40vw;
    max-width: 250px;
    max-height: 250px;
    // text-align: left;
    border: 4px dashed lightgray;
    padding: 12px;
    background-color: rgb(211, 211, 211, 0.2);
    transition: 2s;
}
.item-plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 50px;
    height: 40vw;
    max-height: 250px;
    font-size: 60px;
    font-family: "Frijole", cursive;
    text-align: center;
    transition: 2s;
}
.item-sum {
    height: 40vw;
    max-height: 250px;
    font-size: 60px;
    font-family: "Frijole", cursive;
    padding: 120px 15px;
    height: 100px;
    line-height: 90px;
    padding: 0;
}
.icon-lg {
    font-size: 68px;
}

.text-sub {
    width: 40vw;
    max-width: 250px;
    font-family: "Frijole", cursive;
    font-size: 36px;
}
.text-sub-plus {
    font-family: "Frijole", cursive;
    font-size: 36px;
}

.click-btn {
    bottom: 30px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    padding: 10px;
    margin: auto;
    border-radius: 100%;
    background-color: rgb(15, 126, 230);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: "Frijole", cursive;
}

.click-btn-next {
    background-color: rgb(35, 155, 41);
}

.click-icon {
    color: #f1f1f1;
    font-size: 55px;
}

.reload-btn,
.showModalBtn {
    position: fixed;
    right: 60px;
    top: 55px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: cadetblue;
    text-align: center;
    z-index: 1000;

    .reloadIcon,
    .showModalIcon {
        color: rgb(243, 243, 243);
        font-size: 30px;
        line-height: 40px;
    }
}
.showModalBtn {
    right: 10px;
    background-color: rgb(233, 94, 69);
    // z-index: 1000;
}

@media only screen and (max-width: 991px) {
    .reload-btn,
    .showModalBtn {
        top: 105px;
    }
}

@media only screen and (max-width: 601px) {
    .math-units {
        padding: 0;
    }
    .question-table {
        height: 112px;
    }
    .item-one,
    .item-two {
        max-width: 110px;
        max-height: 110px;
        padding: 10px 14px;
    }
    .item-plus {
        max-height: 120px;
        font-size: 36px;
    }
    .icon-lg {
        font-size: 24px;
    }
    .text-sub {
        max-width: 110px;
        font-size: 24px;
    }
}

// ===========
