<!-- MODAL WINDOW BEGIN-->
<app-modal [app]="app"></app-modal>
<!-- MODAL WINDOW END-->
<!-- <app-chat [chat]='app.chat'></app-chat> -->

<div class="page-wrapper" id="page-wrapper">
  <header>
    <app-header></app-header>
  </header>
  <main>
    <div *ngIf="profileService.account.login">
      <aside [ngStyle]="{'width': app.sidebar.isCollapsed ? '70px':'239px'}"
        [ngClass]="{'aside-phone': app.sidebar.show}">
        <app-sidebar> </app-sidebar>
      </aside>
    </div>

    <section [ngStyle]="{'margin-left': app.sidebar.isCollapsed ? '70px':'239px'}">
      <div *ngIf="profileService.account.login" class="page-title d-inline-flex">
        <div class="p-icon">
          <i class="material-icons pointer picon" *ngIf="app.path" (click)="backTo()">arrow_back</i>
          <i class="material-icons pointer picon" *ngIf="!app.path">{{app.main.headIcon}}</i>
        </div>
        <div class="p-text">{{app.main.headText}}</div>
      </div>
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>

      <footer *ngIf="profileService.account.login"
        [ngStyle]="{'margin-left': app.sidebar.isCollapsed ? '70px':'239px'}">
        <app-footer [footer]='app.footer'></app-footer>
      </footer>
    </section>
  </main>
</div>