<!-- MODAL WINDOW BEGIN-->
<app-modal></app-modal>
<!-- MODAL WINDOW END-->
<!-- <app-chat [chat]='app.chat'></app-chat> -->

<div class="page-wrapper" id="page-wrapper">
  <header>
    <app-header></app-header>
  </header>
  <main>
    <aside [ngStyle]="{'width': app.sidebar.isCollapsed ? '70px':'239px'}"
      [ngClass]="{'aside-phone': app.sidebar.show}">
      <app-sidebar> </app-sidebar>
    </aside>

    <section [ngStyle]="{'margin-left': app.sidebar.isCollapsed ? '70px':'239px'}">
      <div class="page-title">
        <i class="material-icons">{{app.main.headIcon}}</i>
        <span>{{app.main.headText}}</span>
      </div>
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>

      <footer>
        <app-footer [footer]='app.footer'></app-footer>
      </footer>
    </section>
  </main>
</div>