<!-- MODAL WINDOW BEGIN-->
<app-modal></app-modal>
<!-- MODAL WINDOW END-->

<div class="page-wrapper" id="page-wrapper">
  <header>
    <app-header [header]='header' (showSidebar)="showSidebar()"></app-header>
  </header>
  <main>
    <aside [ngStyle]="{'width': sidebar.isCollapsed ? '70px':'239px'}" [ngClass]="{'aside-tablet': sidebar.show}">
      <app-sidebar [sidebar]='sidebar' (sidebarCollapse)='sidebarCollapse()' (pageTitle)="newTitle($event)">
      </app-sidebar>
    </aside>

    <span>
      <!-- <app-chat [chat]='chat'></app-chat> -->
    </span>

    <section [ngStyle]="{'margin-left': sidebar.isCollapsed ? '70px':'239px'}">
      <div class="page-title">{{title}}</div>

      <div class="page">
        <router-outlet></router-outlet>
        <!-- <app-modal></app-modal> -->
      </div>

      <footer>
        <app-footer [footer]='footer'></app-footer>
      </footer>
    </section>
  </main>
</div>
