<div class="math-units">
    <main class="main">
        <aside class="rewards">
            <span *ngFor="let rainbow of profile.rewards.rainbows">
                <span class="material-icons reward-rainbow f-rainbow"> looks </span>
            </span>
            <span *ngFor="let star of profile.rewards.stars; index as key">
                <span *ngIf="star%7===1" class="material-icons reward-star f-red"> star </span>
                <span *ngIf="star%7===2" class="material-icons reward-star f-orange"> star </span>
                <span *ngIf="star%7===3" class="material-icons reward-star f-yellow"> star </span>
                <span *ngIf="star%7===4" class="material-icons reward-star f-green"> star </span>
                <span *ngIf="star%7===5" class="material-icons reward-star f-blue"> star </span>
                <span *ngIf="star%7===6" class="material-icons reward-star f-indigo"> star </span>
            </span>
        </aside>

        <article class="question-table">
            <div class="space">{{math.unitRandom}}</div>
            <div class="space">+</div>
            <div class="space">{{math.unitRandomTwo}}</div>
            <div class="space">=</div>
            <div class="space space-border" *ngIf="!math.space[8].fill"> ? </div>
            <div class="space space-border" *ngIf="math.space[8].fill"> {{math.space[8].fill}} </div>
        </article>
    </main>

    <section class="select option">
        <div *ngFor="let num of math.Twenty" class="unit pointer" (click)="selectNum(num)">{{num}}</div>
    </section>

    <!-- reload btn -->
    <div class="reload-btn" (click)="reload()">
        <i class="material-icons reload-icon pointer">autorenew</i>
    </div>

    <!-- success gif -->
    <div *ngIf="math.ansCorrect">
        <img class="current-gif" [src]='currentGif'>
    </div>
    <div *ngIf="math.ansCorrect">
        <img class="success-gif" [src]='trueGif'>
    </div>
    <div *ngIf="math.space[8].fill && !math.ansCorrect">
        <img class="success-gif" [src]='falseGif'>
    </div>
    <div *ngIf="math.ansExcellent">
        <img class="extra-gif balloon" [src]='extraGif'>
    </div>

    <!-- plus sheet modal btn -->
    <div class="show-modal-btn pointer" data-toggle="modal" data-target="#modal" (click)="modalOn()">
        <i class="material-icons show-modal-icon">assignment</i>
    </div>
</div>