.footer {
    background-color: rgb(243, 243, 243);
    position: relative;
    z-index: 10;
}

.nav-link {
    display: block;
    display: none;
    height: 18px;
    line-height: 15px;
    padding: 0 10px;
    border-right: 1px solid;
    font-size: 14px;
}

.no-border {
    border-right: 0;
}

.footer-logo {
    width: 35px;
    height: 35px;
}

@media only screen and (max-width: 991px) {
    .footer {
        height: 20px;
    }
    .footer-logo {
        width: 15px;
        height: 15px;
    }
    .foot-msg {
        display: none;
    }
}
