<!-- ============================================= -->
<!-- =========== card body: loop cards =========== -->
<div class="user-card-container">
    <div class="user-card" *ngFor="let user of users">
        <div class="user-card-body">
            <!-- 2. user image -->
            <div class="user-card-photo-initial">
                <!-- <a [routerLink]="['/profile']" (change)="checkUserCard()"> -->
                <a>
                    <div class="user-img-container">
                        <img *ngIf="user.userImage !== ''" src="{{user.userImage}}" class="user-img">
                    </div>
                    <div *ngIf="user.userImage ==='' || user.userImage===null" class="user-initial">
                        {{getInitials(user.firstName, user.lastName)}}
                    </div>
                </a>
            </div>

            <!-- 3. user status -->
            <div class="d-inline-flex mt-3">
                <span class="fn pr-1">{{user.firstName}}</span>
                <span class="ln">{{user.lastName}} </span>
            </div>
            <div class="font600">
                <div class="un">{{user.userName}}</div>
            </div>
        </div>
    </div>
</div>
<!-- =========== card body: loop cards =========== -->
<!-- ============================================= -->