<div class="profile">
    <header class="profile-img-container">
        <div class="top-left">
            <div class='mouse-gif-block'></div>
            <img class="mouse-gif" src="../../../../assets/images/gif/mouse1.png" alt="">
        </div>
        <div class="top-center d-flex-column">
            <img class="profile-img" src="../../../../assets/images/logo/joanna.jpg" alt="">
            <p>Hello! I'm Joanna. Welcome back and enjoy!</p>
        </div>
        <div class="top-right">
            <img class="bunny-gif" src="../../../../assets/images/gif/bunny1.gif" alt="">
        </div>
    </header>

    <section class="rewards">
        <div class="rewards-head">
            Rewards
        </div>
        <div class="rewards-body">
            <div class="rewards-rainbow">
                <p>Rainbows:</p>
                <span *ngFor="let rainbow of profile.rewards.rainbows">
                    <span class="material-icons reward-rainbow f-rainbow"> looks </span>
                </span>
            </div>
            <div class="rewards-star">
                <p>Stars:</p>
                <span *ngFor="let star of profile.rewards.stars; index as key">
                    <span *ngIf="star%7===1" class="material-icons reward-star f-red"> star </span>
                    <span *ngIf="star%7===2" class="material-icons reward-star f-orange"> star </span>
                    <span *ngIf="star%7===3" class="material-icons reward-star f-yellow"> star </span>
                    <span *ngIf="star%7===4" class="material-icons reward-star f-green"> star </span>
                    <span *ngIf="star%7===5" class="material-icons reward-star f-blue"> star </span>
                    <span *ngIf="star%7===6" class="material-icons reward-star f-indigo"> star </span>
                </span>
            </div>
        </div>
    </section>
</div>