.profile {
    padding: 20px;
    width: 100%;
}

.profile-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    border-bottom: 2px dashed lightgray;
}

.profile-img {
    display: inline-block;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.top-left {
    position: relative;
}

.bunny-gif {
    display: inline-block;
    width: 145px;
    position: relative;
    bottom: -40px;
    left: -50px;
}

.mouse-gif-block {
    position: absolute;
    bottom: -302px;
    width: 105px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.mouse-gif {
    display: inline-block;
    width: 105px;
    position: relative;
    bottom: 0;

    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transition: 1s ease-in;
    /* Use the animation name with additional properties */
    animation-name: jump;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes jump {
    from {
        // bottom:
        transform: translate(0px, 350px);
    }
    to {
        // top:
        transform: translate(0px, 120px);
    }
}

.rewards {
    // display: flex;
    // flex-direction: column;
    position: relative;
    padding: 20px;
    width: 50%;
    min-height: 300px;
    height: auto;
    margin: auto;
    // margin: 0;
    margin-bottom: 30px;
    border: 5px solid rgb(230, 230, 230);
    border-radius: 10px;
    font-family: "Frijole", cursive;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 3;
}

.rewards-head {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 36px;
    border-bottom: 1px dashed rgb(240, 240, 240);
    margin: 0 auto;
    text-align: center;
    z-index: 3;
}
.rewards-body {
    line-height: 55px;
    font-size: 24px;
    text-align: left;
    z-index: 3;
}

@media only screen and (max-width: 600px) {
    .rewards {
        width: 100%;
    }
}
