@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
button:focus {
    outline: 0;
}

button:active {
    box-shadow: none;
}


// ===== scroll =====:
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

// ===== google fonts =====:
// @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");
@font-face {
    font-family: "Frijole";
    src: url(/assets/fonts/Frijole-Regular.ttf) format("truetype");
    font-weight: 300;
}

// ===== material-design-icons =====:
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    // src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular");
    // url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    // url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    // url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}

.pointer {
    cursor: pointer;
}

// About Bootstrap modal backdrop over dialog issue:
// The following are not working:
// .modal-backdrop {
//     z-index: 1040 !important;
// }
// .modal-dialog {
//     margin: 2px auto;
//     z-index: 1100 !important;
// }
// The right way is put dialog component at top of <body>, before angular app.

.f-red {
    color: red;
}
.f-orange {
    color: orange;
}
.f-yellow {
    color: yellow;
}
.f-green {
    color: green;
}
.f-blue {
    color: blue;
}
.f-indigo {
    color: indigo;
}
.f-purple {
    color: purple;
}
.f-rainbow {
    -webkit-animation: rainbow 2s infinite alternate;
}

@-webkit-keyframes rainbow {
    0% {
        color: red;
    }
    10% {
        color: orange;
    }
    20% {
        color: rgb(212, 194, 29);
    }
    30% {
        color: yellow;
    }
    40% {
        color: rgb(162, 185, 33);
    }
    50% {
        color: rgb(104, 240, 25);
    }
    60% {
        color: green;
    }
    70% {
        color: rgb(36, 92, 182);
    }
    80% {
        color: blue;
    }
    90% {
        color: rgb(211, 39, 202);
    }
    100% {
        color: rgb(196, 56, 13);
    }
}



.reward-star {
    height: 25px;
    line-height: 25px;
    font-size: 24px;
}
.reward-rainbow {
    height: 25px;
    line-height: 25px;
    font-size: 48px;
}