<table class="rank-table">
    <thead></thead>
    <tbody>
        <tr *ngFor="let user of userService.users;let key = index">
            <td>
                <div class="rank-number">{{key+1}}</div>
            </td>
            <td>
                <div class="user-info d-flex flex-column justify-content-center">
                    <span>
                        <img class="user-img" src="{{user.userImage}}" alt="">
                    </span>
                    <span class="user-name">{{user.userName}}</span>
                </div>
            </td>
            <td>
                <div class="user-rewards d-flex flex-column justify-content-center">
                    <div class="user-rainbow rewards d-inline-flex mb-3">
                        <span class="material-icons reward-rainbow f-rainbow"> looks </span>
                        <span>&nbsp; Rainbow x {{user.rewards.rainbow}}</span>
                    </div>
                    <div class="user-star rewards d-inline-flex">
                        <!-- <span class="material-icons reward-star f-yellow"> star </span>
                        Star x {{user.rewards.star}} -->
                        <span *ngFor="let star of user.rewards.stars; index as key">
                            <span *ngIf="star%7===1" class="material-icons reward-star f-red"> star </span>
                            <span *ngIf="star%7===2" class="material-icons reward-star f-orange"> star </span>
                            <span *ngIf="star%7===3" class="material-icons reward-star f-yellow"> star </span>
                            <span *ngIf="star%7===4" class="material-icons reward-star f-green"> star </span>
                            <span *ngIf="star%7===5" class="material-icons reward-star f-blue"> star </span>
                            <span *ngIf="star%7===6" class="material-icons reward-star f-indigo"> star </span>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>

</table>